<RelativeLayout
xmlns:android="http://schemas.android.com/apk/res/android"
android:id="@+id/desktop_2"
android:layout_width="1440dp"
android:layout_height="8583dp"
android:clipToOutline="true"
android:background="#FFFFFF"
 />

 